@import "../index";

.connected {
  margin-bottom: 1rem;
  font-size: 0.8em;
  color: $unimportant;

  .fa {
    color: #ff001a;
    margin-right: 0.5rem;

    &.active {
      color: #00ff52;
    }
  }
}

form.withLines md-input-container + md-input-container {
  margin-top: 0;
}