<form class="withLines" [formGroup]="storyForm" (ngSubmit)="submitStoryForm()">
  <fieldset [disabled]="isSubmitting">
    <md-input-container>
      <input type="text" formControlName="title" placeholder="Story title" mdInput />
    </md-input-container>
    <div class="input-row submit-row">
      <button type="button" (click)="cancelStoryForm()" md-button>
        Cancel
      </button>
      <button type="submit" color="primary" [disabled]="!storyForm.valid" md-raised-button>
        Create
      </button>
    </div>
  </fieldset>
</form>