@import "../../shared/scss/conf/index";

md-list-item {
  cursor: pointer;
  
  .fa {
    margin-right: 10px;
  }
}

.disconnect {
  cursor: pointer;
  color: #fff;
  background-color: $primary;
  padding: 10px 18px;
  border-radius: 3px;

  span {
    margin-right: 10px;
  }
}

.cast-to__actions.mat-dialog-actions {
  display: initial;
}