@import "../../shared/scss/conf/index";

.avatar-container {
  @include rounded-full();
  @include full-center-children();
  background: linear-gradient(to bottom, rgba(113, 175, 249, 0.75) 0%, rgba(0, 150, 136, 0.75) 100%);
  position: relative;
  margin-top: -32px;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  height: 70px;
}

.avatar {
  @include rounded-full();
  @include bg-image();
  cursor: pointer;
  width: 64px;
  height: 64px;
}

.story-detail-page {
  padding-top: 0;
}

.map {
  position: relative;
}