<div class="content__banner" style="background-image: url('https://static.pexels.com/photos/28221/pexels-photo-28221.jpg')"></div>
<div class="avatar" style="background-image: url('http://www.cinema.com.my/images/news/2016/7n_daisyridleylikelyto00.jpg')"></div>

<div class="page story-detail-page">
  <div class="container">
    <div class="container__head-buttons">
      <h1>A day at the US</h1>
      <div class="buttons">
        <a href="#" md-button>Edit</a>
      </div>
    </div>

    <div class="photos">
      <img src="http://www.uniwallpaper.com/static/images/above-adventure-aerial-air_T84QbL0.jpg" />
      <img src="http://www.planwallpaper.com/static/images/880665-road-wallpapers.jpg" />
      <img src="https://s-media-cache-ak0.pinimg.com/736x/ca/ea/57/caea57268e1dee696f3c20a5a0f895f2.jpg" />
      <img src="http://www.planwallpaper.com/static/images/Eiffel-Tower-lanscape-Wallpaper-HD.jpg" />
      <img src="http://www.planwallpaper.com/static/images/canada-winter-moraine-lake-alberta-hd-high-511002.jpg" />
      <img src="http://www.uniwallpaper.com/static/images/above-adventure-aerial-air_T84QbL0.jpg" />
      <img src="http://www.planwallpaper.com/static/images/880665-road-wallpapers.jpg" />
      <img src="http://www.planwallpaper.com/static/images/canada-winter-moraine-lake-alberta-hd-high-511002.jpg" />
      <img src="http://www.uniwallpaper.com/static/images/above-adventure-aerial-air_T84QbL0.jpg" />
      <img src="http://www.planwallpaper.com/static/images/880665-road-wallpapers.jpg" />
      <img src="http://www.planwallpaper.com/static/images/canada-winter-moraine-lake-alberta-hd-high-511002.jpg" />
    </div>
    
    <div class="box description">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacus orci, accumsan rhoncus nisi vitae, lobortis fringilla orci. Duis mattis ullamcorper purus at consectetur. In consequat vehicula felis, vel placerat diam porttitor quis. Suspendisse cursus mollis ante id feugiat. Ut consectetur commodo justo maximus rhoncus. Fusce orci arcu, tempor non arcu pretium, ultrices volutpat mauris. Integer accumsan varius ornare. Sed blandit nisi ipsum, ac placerat metus semper ac. Aliquam hendrerit, ligula et ullamcorper pulvinar, ipsum mauris dignissim ante, vitae vehicula lacus mauris ut nibh.

Sed ut fermentum erat. Aliquam aliquet malesuada sem sed ornare. Nunc ut metus non nisi rutrum euismod. Praesent pellentesque volutpat quam in mollis. Cras aliquam sagittis sodales. Quisque faucibus aliquam diam, sit amet suscipit ligula rutrum ac. Curabitur vehicula dapibus purus, sed mattis tellus. Ut sed aliquam risus, sit amet ullamcorper augue. Suspendisse scelerisque velit at ullamcorper volutpat. Proin suscipit nisi erat, nec gravida leo ultricies eget. Fusce iaculis sit amet leo et pellentesque. Aliquam facilisis imperdiet urna ac auctor. Aenean id nulla vitae nulla commodo commodo eget et magna.

Duis sed semper metus. Sed tempor faucibus justo vitae tristique. Phasellus non iaculis neque, sit amet laoreet urna. Quisque nec mollis elit. Nulla sed tortor tristique elit tincidunt cursus. Maecenas ac ultricies quam, ut sagittis felis. Aliquam consequat lacinia faucibus. Aliquam faucibus placerat libero, eget ultricies est lobortis ac. Integer mollis dui nec consequat sagittis. Curabitur varius ligula nisl, in molestie massa egestas non. Pellentesque dictum libero at nisi consequat pellentesque. Aliquam non dignissim nisl. Curabitur tempus tortor enim, vel gravida erat accumsan vitae. Ut sit amet ligula volutpat, dictum lorem eu, tristique urna.

Duis vitae posuere mi. Curabitur volutpat quis nulla at finibus. Phasellus placerat ante ante, et molestie velit rutrum et. Nulla ut tortor nec nunc mattis faucibus. Integer eu mollis tortor. Suspendisse mauris justo, aliquet molestie ornare et, lacinia id urna. Pellentesque ultrices nisi ut porta posuere. Praesent at mi eget libero facilisis fringilla id a quam. In mattis leo quis purus efficitur pretium. Donec eget leo eleifend, lobortis orci sit amet, luctus felis. Donec pretium justo nec mi tristique pharetra. Curabitur massa neque, pellentesque quis risus eu, pulvinar egestas massa.

Morbi id eros feugiat, maximus nibh sit amet, convallis leo. Donec ac ipsum aliquam, euismod magna ac, molestie mauris. Duis suscipit, mauris et dictum venenatis, mi quam gravida enim, vel rhoncus risus mi in sapien. Ut fringilla massa urna, id fermentum augue gravida quis. Sed bibendum lacus elit, interdum condimentum risus imperdiet quis. Suspendisse consequat nibh in ex bibendum, eget interdum turpis fermentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum non metus velit. Donec eget leo imperdiet, pellentesque orci eu, vestibulum turpis. Maecenas eleifend vehicula nulla id feugiat. Nulla ac erat erat. Etiam cursus diam vel metus elementum molestie. Curabitur finibus maximus semper. Fusce eget libero sodales, aliquam odio tempor, sollicitudin felis. Suspendisse egestas sem id congue vehicula. Sed vehicula lectus eu imperdiet blandit.
    </div>
    
    <h2>Location</h2>
    <div class="box unspaced">
      <iframe
        height="400"
        frameborder="0" style="border:0; width: 100%"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDPQLa3pdoBVIfPj8Hj5mO7wQhW-z8b5jU&q=Space+Needle,Seattle+WA" allowfullscreen>
      </iframe>
    </div>
    
  </div>
</div>