<div class="content__banner" [style.backgroundImage]="'url(' + story.coverURL + ')'">
  <div class="action-buttons" *ngIf="isEditing">
    <i class="fa fa-camera"></i>
  </div>
</div>

<div class="avatar" [style.backgroundImage]="'url(' + owner?.photoURL + ')'"></div>

<div class="page story-detail-page">
  <div class="container">
    <div class="container__head-buttons">
      <h1>{{story.title}}</h1>
      <div class="buttons">
        <a href="#" md-button>Edit</a>
      </div>
    </div>

    <div class="photos">
      <img [src]="photo.url" *ngFor="let photo of story.photos" />
    </div>
    
    <div class="box description">{{story.description}}</div>
    
    <h2>Location</h2>
    <div class="box unspaced">
      <iframe
        height="400"
        frameborder="0" style="border:0; width: 100%"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDPQLa3pdoBVIfPj8Hj5mO7wQhW-z8b5jU&q=Space+Needle,Seattle+WA" allowfullscreen>
      </iframe>
    </div>
    
  </div>
</div>