<app-casting
  [state]="castingState"
  (playTour)="castPlayTour()"
  (stopTour)="castStopTour()">
</app-casting>

<app-story-detail-banner
  [story]="story"
  [editState]="editState"
  (pending)="setPending('banner')"
  (unpending)="setUnpending('banner')">
</app-story-detail-banner>

<div class="avatar-container">
  <div
    class="avatar"
    [style.backgroundImage]="'url(' + owner?.photoURL + ')'"
    [mdTooltip]="owner?.displayName"
    [mdTooltipPosition]="'below'"
    [routerLink]="['/users/' + owner?.$key]">
  </div>
</div>

<div class="page story-detail-page">
  <div class="container">
    <div class="container__head-buttons">
      <app-story-detail-title
        [story]="story"
        [editState]="editState"
        (pending)="setPending('title')"
        (unpending)="setUnpending('title')">
      </app-story-detail-title>
      <div class="buttons">
        <a (click)="edit()" *ngIf="!isEditing()" md-button>Edit</a>
        <a (click)="cancel()" *ngIf="isEditing()" [disabled]="!isActivelyEditing()" md-button>Cancel</a>
        <a (click)="save()" *ngIf="isEditing()" [disabled]="!isActivelyEditing()" md-button>Save</a>
      </div>
    </div>

    <app-story-detail-date
      [story]="story"
      [editState]="editState"
      (pending)="setPending('date')"
      (unpending)="setUnpending('date')">
    </app-story-detail-date>

    <app-story-detail-photo
      [story]="story"
      [editState]="editState"
      (pending)="setPending('photos')"
      (unpending)="setUnpending('photos')">
    </app-story-detail-photo>
    
    <div class="box description">
      <app-story-detail-description
        [story]="story"
        [editState]="editState"
        (pending)="setPending('description')"
        (unpending)="setUnpending('description')">
      </app-story-detail-description>
    </div>
    
    <h2>Location</h2>
    <div class="box map unspaced">
      <app-story-detail-map
        [story]="story"
        [editState]="editState"
        (pending)="setPending('map')"
        (unpending)="setUnpending('map')">
      </app-story-detail-map>
    </div>

    <h2>Comments</h2>
    <app-story-detail-comment
      [story]="story">
    </app-story-detail-comment>
  </div>
</div>