h2 {
  margin-top: 2rem;
}

img {
  max-width: 100%;
}

img.physical-web {
  float: right;
  width: 250px;
}

.gsoc-container {
  text-align: center;
}

img.gsoc {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 400px;
}