<div class="page">
  <div class="container">
    <h1>About</h1>

    <div class="box">
      <p>Geographical Memories is an online social platform to upload travelers' journey adventures. Travelers can create their own journeys and describe each of the different adventures as stories. We provide a fast and easy-to-use interface to navigate through your experiences, as well as other people's ones.</p>

      <h2 id="physical-web">Physical Web</h2>

      <p>This project is a <a href="https://summerofcode.withgoogle.com/projects/#6085183682904064" target="_blank">part of Google Summer of Code 2017</a> at <a href="https://physical-web-project.github.io" target="_blank">Physical Web Project</a> organization.</p>

      <p>A Physical Web beacon can broadcast a URL, automatically displayed to device owners through the notifications system. This makes interacting with anything just a click away.</p>

      <p>Memories support writing to Physical Web beacons through Web Bluetooth. Our users can record any journey or story into their beacons so that anyone nearby them can view and access them by simply tapping on the notification entry.</p>

      <p>
        Read more about our integration with Physical Web
        <a [routerLink]="['/physical-web']">here</a>.
      </p>

      <div class="image-block physical-web-logos">
        <img src="/assets/physical-web2.svg" />
        <img src="/assets/gsoc.svg" />
      </div>

      <h2 id="liquid-galaxy">Liquid Galaxy</h2>

      <div class="image-block">
        <img class="liquid-galaxy-screens" src="/assets/liquid-galaxy-screens.jpg" />
      </div>

      <p>As members of the <a href="https://github.com/LiquidGalaxyLAB/" target="_blank">Liquid Galaxy LAB</a>, Memories is also integrated with the <a href="https://www.google.com/earth/explore/showcase/liquidgalaxy.html" target="_blank">Liquid Galaxy</a> technology.</p>

      <p>Liquid Galaxy is a panoramic multi-display data viewer, that was initially based on Google Earth.

      <p>Memories can display journeys and stories on a Liquid Galaxy setup over Google Earth. Users can move around the different placemarks and read over the travel information. 

      <p>
        Read more about our integration with Liquid Galaxy
        <a href="#">here</a>.
      </p>

      <div class="image-block collaboration">
        <img src="/assets/liquid-galaxy-lab.png" />
        <img src="/assets/pcital.jpg" />
      </div>
    </div>
  </div>
</div>