@import "conf/index";

form.withLines {
  margin: 0;
  padding: 0;
  text-align: center;

  md-input-container {
    display: block;
  }

  md-input-container + md-input-container,
  .input-row + md-input-container,
  md-input-container + .input-row {
    margin-top: 25px;
  }

  .submit-row {
    margin-top: 42px;
    text-align: right;
  }
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

input[type="file"] {
  display: none;
}

input[type="text"].filter {
  background-color: #fff;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #ddd;
  border-left: none;
  // border-radius: 4px;
  width: 100%;
  padding: 16px;
  margin-bottom: 1rem;
  outline: none;
  transition: border 0.2s ease;

  &:focus {
    border-bottom: 1px solid $primary;
  }
}

.input-icon {
  color: $unimportant;
  float: right;
  font-size: 0.8em;
  margin-right: 15px;
  margin-top: -45px;
  position: relative;
}
