@import "conf/index";

md-list-item {
  outline: 0;
}

md-list-item.clickable:hover {
  cursor: pointer;
}

md-list-item.clickable.withBgColor:hover {
  background-color: $hover;
}

ul.no-dotted {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.inline {
  @extend ul.no-dotted;
  
  > li {
    display: inline;
  }
}

ul.grid {
  @extend .no-dotted;
  margin-left: -25px;
  margin-top: -25px;

  > li {
    display: inline-block;
    padding-left: 25px;
    padding-top: 25px;
  }
}