@import "conf/index";

.hint {
  display: block;
  color: $unimportant;
  font-size: 0.8em;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.warn {
  color: $warn;
}

.error {
  color: $error;
}

.tcenter {
  text-align: center;
}

.first {
  margin-top: 0;
}