@import '~@angular/material/theming';

@import "../../shared/index";

md-toolbar {
  box-shadow: 0 1px 6px rgba(0,0,0,0.35);
  z-index: 42;
  position: fixed;
}

.logo {
  margin-right: 8px;
  font-size: 1.1em;
}

.fa-bars {
  cursor: pointer;
  font-size: 0.81em;
  margin-right: 20px;
}

#logo, .navbar-icon {
  color: #fff;
}

.navbar__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  > * + * {
    margin-left: 1rem;
  }
}

.navbar-icon {
  @include image-link-empty(32px, 32px);
}

.text-icon {
  text-indent: 0;

  > * {
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    font-size: 1.2em;
  }
}

.text-icon.active {
  color: #fff600;
}