<div
  class="content__banner"
  [style.backgroundImage]="newCover64 || 'url(' + story.coverURL + ')'"
  [class.active]="isEditing()"
  (click)="executeCoverInput()">
  <div class="banner__action-left" [routerLink]="['/journeys/' + story.journey]">
    <span class="arrow">&#x2303;</span>
  </div>
  <div class="banner__action-buttons">
    <a class="fa fa-external-link neat" [href]="story.coverURL" *ngIf="story.coverURL && !isEditing()" target="_blank"></a>
    <i class="fa fa-camera" *ngIf="isEditing()"></i>
  </div>
</div>

<input
  type="file"
  class="file-input"
  accept="image/x-png,image/gif,image/jpeg"
  (change)="coverChange($event)"
  #coverInput />