<div>
  <input type="text" class="filter" placeholder="Search..." (keyup)="filter($event)" />
  <i class="fa fa-search input-icon" aria-hidden="true"></i>
</div>

<div class="page">
  <ul class="grid">
    <li class="journey-card-container" *ngFor="let journey of journeysFiltered || journeys">
      <md-card class="clickable" [routerLink]="['/journeys/' + journey.$key]">
        <div md-card-image class="cover" [style.backgroundImage]="journey.coverURL && 'url(' + journey.coverURL + ')'"></div>
        <md-card-content>
          <md-card-title>{{journey.title}}
          </md-card-title>
          <p>
            <app-journey-list-owner [owner]="journey.owner"></app-journey-list-owner>
          </p>
        </md-card-content>
      </md-card>
    </li>
  </ul>
</div>