<div class="content__banner" [style.backgroundImage]="'url(' + journey.coverURL + ')'"></div>
<div class="avatar" [style.backgroundImage]="'url(' + owner?.photoURL + ')'"></div>

<div class="page journey-detail-page">
  <div class="container">
    <div class="container__head-buttons">
      <h1>{{journey.title}}</h1>
      <div class="buttons">
        <a href="#" md-button>Edit journey</a>
        <a href="#" md-button>Add story</a>
      </div>
    </div>
    <div class="box story-new">
      <form class="withLines">
        <fieldset [disabled]="isSubmitting">
          <md-input-container>
            <input type="text" name="title" placeholder="New story title" mdInput />
          </md-input-container>
          <div class="input-row submit-row">
            <button type="button" md-button>
              Cancel
            </button>
            <button type="submit" color="primary" [disabled]="false" md-raised-button>
              Create
            </button>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="box">
      <md-list-item class="story clickable">
        <div class="storyInfo">
          <h3 md-line>
            <a class="invisible" href="#">Story title</a>
          </h3>
          <p md-line>June 16, 2016</p>
        </div>
        <div class="storyCover">
          <div style="background-image:url('https://cdn.wallpaper.com/main/the-sandhya-1.jpg')"></div>
        </div>
      </md-list-item>
      <md-list-item class="story clickable">
        <div class="storyInfo">
          <h3 md-line>
            <a class="invisible" href="#">Story title</a>
          </h3>
          <p md-line>June 16, 2016</p>
        </div>
        <div class="storyCover">
          <div style="background-image:url('https://cdn.wallpaper.com/main/the-sandhya-1.jpg')"></div>
        </div>
      </md-list-item>
    </div>
  </div>
</div>