<app-casting
  [state]="castingState"
  (playTour)="castPlayTour()"
  (stopTour)="castStopTour()">
</app-casting>

<div class="content__banner" [style.backgroundImage]="'url(' + journey.coverURL + ')'"></div>
<div class="avatar" [style.backgroundImage]="'url(' + owner?.photoURL + ')'"></div>

<div class="page journey-detail-page">
  <div class="container">
    <div class="container__head-buttons">
      <h1>{{journey.title}}</h1>
      <div class="buttons">
        <a md-button *hideItBootstrap="['xs']">Edit journey</a>
        <a md-button (click)="toggleNewStory($event)" *hideItBootstrap="['xs']">Add story</a>        
        <a class="menu-button" md-button [mdMenuTriggerFor]="detailMenu">
          <i class="fa fa-ellipsis-v"></i>
        </a>
        <md-menu #detailMenu="mdMenu">
          <a md-menu-item *showItBootstrap="['xs']">Edit journey</a>
          <a md-menu-item (click)="toggleNewStory($event)" *showItBootstrap="['xs']">Add story</a>        
          <a md-menu-item appPwNew>Physical Web</a>
        </md-menu>
      </div>
    </div>
    <div class="box story-new" [hidden]="!isNewStoryVisible">
      <app-story-new
        [journey]="journey"
        (success)="toggleNewStory()"
        (fail)="toggleNewStory()"
        (cancel)="toggleNewStory()">
      </app-story-new>
    </div>
    <div class="box">
      <md-list-item class="story clickable" *ngFor="let story of stories" (click)="navigateToStory(story.$key)">
        <div class="storyInfo">
          <h3 md-line>
            <a class="invisible" [routerLink]="getRouterStoryPath(story.$key)">{{story.title}}</a>
          </h3>
          <p md-line>{{story.dateStart | date}}</p>
        </div>
        <div class="storyCover" *ngIf="story?.coverURL">
          <div [style.backgroundImage]="'url(' + story.coverURL + ')'"></div>
        </div>
      </md-list-item>
    </div>
  </div>
</div>