service firebase.storage {
  match /b/{bucket}/o {
    match /{userUid}/{imageUid} {
      allow read;
      allow write: if request.auth.uid == userUid;
    }
  }
}
