@import "../colors";

a {
  color: $primary;
}

a.neat, .fake-link.neat {
  text-decoration: none;
}

.fake-link {
  cursor: pointer;
}

a.invisible {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: currentColor;
  }
}