@import "../mixins";

.mat-card {
  overflow: hidden;
}

.mat-card-image {
  max-height: 300px;
}

md-card-image.cover {
  @include bg-cover-empty();
  height: 200px;
}

md-card-content {
   word-wrap: break-word;
}

.mat-card-title {
  @include three-dots();
}

md-card-header.solo-title .mat-card-header-text {
  width: 100%;
  margin: 0;
}