@import "../colors";

.overlay-dialog {
  min-width: 75%;

  h1 {
    color: $unimportant;
    font-weight: 400;
    border-bottom: 1px solid $separator;
    padding-bottom: 1rem;
  }
}

@media (min-width: 550px) {
  .overlay-dialog {
    min-width: 420px;
  }
}