@import "../colors";

.cdk-overlay-pane {
  min-width: 75%;

  h1 {
    color: $unimportant;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid $separator;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 550px) {
  .cdk-overlay-pane {
    min-width: 420px;
  }
}