<md-toolbar color="primary">
  <i class="fa fa-bars" (click)="openSidenav()" *showItBootstrap="['xs', 'sm', 'md']"></i>
  <a [routerLink]="['/']" id="logo" class="neat">Memories</a>
  <nav class="navbar__links filler">
    <a class="navbar-icon text-icon" [class.active]="activeCast | async"><app-cast></app-cast></a>
    <ng-container *ngIf="(user | async); then signedinBlock; else signinBlock"></ng-container>
    <ng-template #signedinBlock>
      <a
        class="navbar-icon rounded-full"
        [style.background-image]="sanitizer.bypassSecurityTrustStyle('url(' + (user | async)?.photoURL + ')')"
        [mdMenuTriggerFor]="userMenu">
        {{(user | async)?.displayName}}
      </a>
      <md-menu #userMenu="mdMenu">
        <a md-menu-item (click)="signout()">Sign out</a>
      </md-menu>
    </ng-template>
    <ng-template #signinBlock>
      <button (click)="openSigninDialog()" md-button>Sign in</button>
    </ng-template>
  </nav>
</md-toolbar>