<md-toolbar color="primary">
  <i class="fa fa-bars" (click)="openSidenav()" *showItBootstrap="['xs', 'sm', 'md']"></i>
  <a href="/" id="logo" class="neat">Memories</a>
  <nav class="navbar__links filler">
    <ng-container *ngIf="(user | async); then signedinBlock; else signinBlock"></ng-container>
    <ng-template #signedinBlock>
      <a class="navbar-icon text-icon" [class.active]="activeCast | async"><app-cast></app-cast></a>
      <a
        [style.background-image]="sanitizer.bypassSecurityTrustStyle('url(' + (user | async)?.photoURL + ')')"
        class="navbar-icon rounded-full">
        {{(user | async)?.displayName}}
      </a>
    </ng-template>
    <ng-template #signinBlock>
      <button (click)="openSigninDialog()" md-button>Sign in</button>
    </ng-template>
  </nav>
</md-toolbar>