@import '~@angular/material/theming';

@import "../index";

:host {
  margin-bottom: 64px;
}

md-toolbar {
  box-shadow: 0 1px 6px rgba(0,0,0,0.35);
  z-index: 41;
  position: fixed;
}

#logo, .navbar-icon {
  color: #fff;
}

.navbar__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  > * + * {
    margin-left: 1rem;
  }
}

.navbar-icon {
  @include image-link-empty(32px, 32px);
}

.text-icon {
  text-indent: 0;

  > * {
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    font-size: 1.2em;
  }
}