@import "../../../shared/scss/conf/index";

.no-location {
  text-align: center;
}

agm-map {
  height: 400px;
}

@media (min-width: 400px) {
  agm-map {
    height: 500px;
  }
}

@media (min-width: 550px) {
  agm-map {
    height: 600px;
  }
}

.current-location-container {
  position: absolute;
  text-align: right;
  width: 100%;
  z-index: 2;
}