<div class="page">
  <div class="container box info" *ngIf="hasEntries === false">
    <i class="fa fa-info-circle" aria-hidden="true"></i>
    <div>
      <p>
        It looks like you have no Physical Web entries. You can make an Eddystone beacon broadcast a
        <strong>journey</strong> or <strong>story</strong> by visiting a user's journey or story.
      </p>
      <p>
        If you are new to Physical Web, you might also want to check
        <a [routerLink]="['/physical-web/intro']">Introduction to Physical Web</a> first.
      </p>
    </div>
  </div>

  <div class="container box">
    <md-table [dataSource]="dataSource">
      <ng-container cdkColumnDef="title">
        <md-header-cell class="title" *cdkHeaderCellDef>Title</md-header-cell>
        <md-cell class="title" *cdkCellDef="let row">{{row.title}}</md-cell>
      </ng-container>

      <ng-container cdkColumnDef="shortUrl">
        <md-header-cell class="shortUrl" *cdkHeaderCellDef>URL</md-header-cell>
        <md-cell class="shortUrl" *cdkCellDef="let row">
          <a [href]="row.shortUrl" target="_blank">{{row.shortUrl}}</a>
        </md-cell>
      </ng-container>

      <ng-container cdkColumnDef="createdAt">
        <md-header-cell *cdkHeaderCellDef>Created</md-header-cell>
        <md-cell *cdkCellDef="let row">{{row.createdAt | date}}</md-cell>
      </ng-container>

      <ng-container cdkColumnDef="beacon">
        <md-header-cell *cdkHeaderCellDef>Beacon</md-header-cell>
        <md-cell *cdkCellDef="let row">{{row.beacon.name || 'Unnamed'}}</md-cell>
      </ng-container>

      <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
      <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
    </md-table>
  </div>
</div>