/**
 * Theme colors are set inside ~/src/theme.scss
 */

// Text.
$primary: #009688;
$unimportant: #666;

$secondary: #0366d6;

$warn: #f0ad4e;
$error: #d9534f;

// Misc.
$important-bg: #fff;
$hover: #f4f4f4;
$separator: #ddd;