@import "conf/index";

md-dialog-container.mat-dialog-container {
  min-width: 90vw;
  max-width: none;
}

@media (min-width: 550px) {
  md-dialog-container.mat-dialog-container {
    min-width: 420px;
  }
}

.overlay-dialog {
  h1 {
    color: $unimportant;
    font-weight: 400;
    border-bottom: 1px solid $separator;
    padding-bottom: 1rem;
  }
}