.add-photo-container {
  text-align: center;
  margin-bottom: 2rem;
}

.photos {
  columns: 250px 3;
  margin-bottom: 0.83em;
}

.photo {
  position: relative;

  img {
    display: inline-block;
    page-break-inside: avoid;
    break-inside: avoid-column;
    width: 100%;
  }
}

.photo__delete {
  color: inherit;
  position: absolute;
  right: 5px;
  top: 5px;
}