<div class="add-photo-container" *ngIf="isEditing()">
  <input
    type="file"
    class="file-input"
    accept="image/x-png,image/gif,image/jpeg"
    multiple="multiple"
    (change)="addPhoto($event)"
    #addPhotoInput />
  <button md-button (click)="executeAddPhoto()" [disabled]="!isActivelyEditing()">Add photo</button>
</div>

<div class="photos">
  <div class="photo" *ngFor="let photo of newPhotos">
    <a
      href="javascript:void(0)"
      class="photo__delete"
      (click)="deleteNewStoryPhoto(photo)"
      *ngIf="isEditing()">
      <i class="fa fa-times"></i>
    </a>
    <img [src]="photo.safeStyle" />
  </div>
  <div class="photo" (click)="openGallery()" *ngFor="let photo of storyPhotos()">
    <a
      href="javascript:void(0)"
      class="photo__delete"
      (click)="deleteStoryPhoto(photo)"
      *ngIf="isEditing()">
      <i class="fa fa-times"></i>
    </a>
    <img [src]="photo.url" />
  </div>
</div>