<div class="box">
  <app-story-comment-new [story]="story"></app-story-comment-new>
</div>

<div class="box">
  <md-list-item class="comment">
    <div class="comment__avatar">
      <img src="https://pbs.twimg.com/profile_images/830871765480042496/Yx4YVRGC_bigger.jpg" />
    </div>
    <div class="comment__body">
      <div class="comment__header">
        <a href="#" class="comment__owner neat">Gerard Rovira Sánchez</a>
        <span class="comment__date">22 July, 2017</span>
      </div>
      <div class="comment__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacus velit, facilisis at luctus vel, aliquam eget mauris. Vivamus et gravida magna. Sed at turpis nulla. Curabitur quis pellentesque ante. Pellentesque sed tellus suscipit, vulputate augue ut, placerat ante. In sed vestibulum urna. Maecenas eu elit eu felis ullamcorper pellentesque. Curabitur malesuada quam sed elit consectetur, sagittis commodo ante pharetra. Nam orci ante, efficitur at tortor vel, interdum porta libero. Maecenas eget libero sit amet odio finibus lobortis et rhoncus odio. Pellentesque sit amet malesuada dolor. In id ligula justo. Ut consectetur pretium enim, sit amet semper purus elementum eu. Ut ornare porttitor dignissim. Duis suscipit lorem vel hendrerit mollis.
      </div>
    </div>
  </md-list-item>
  <md-list-item class="comment">
    <div class="comment__avatar">
      <img src="https://pbs.twimg.com/profile_images/830871765480042496/Yx4YVRGC_bigger.jpg" />
    </div>
    <div class="comment__body">
      <div class="comment__header">
        <a href="#" class="comment__owner neat">Gerard Rovira Sánchez</a>
        <span class="comment__date">22 July, 2017</span>
      </div>
      <div class="comment__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacus velit, facilisis at luctus vel, aliquam eget mauris. Vivamus et gravida magna. Sed at turpis nulla. Curabitur quis pellentesque ante. Pellentesque sed tellus suscipit, vulputate augue ut, placerat ante. In sed vestibulum urna. Maecenas eu elit eu felis ullamcorper pellentesque. Curabitur malesuada quam sed elit consectetur, sagittis commodo ante pharetra. Nam orci ante, efficitur at tortor vel, interdum porta libero. Maecenas eget libero sit amet odio finibus lobortis et rhoncus odio. Pellentesque sit amet malesuada dolor. In id ligula justo. Ut consectetur pretium enim, sit amet semper purus elementum eu. Ut ornare porttitor dignissim. Duis suscipit lorem vel hendrerit mollis.
      </div>
    </div>
  </md-list-item>
</div>