<md-list>
  <md-list-item
    class="clickable withBgColor highlight"
    [routerLink]="['/']"
    [routerLinkActive]="['router-link-active']"
    [routerLinkActiveOptions]="{ exact: true }">
    <i class="fa fa-home" aria-hidden="true"></i>
    <span class="item-value">Home</span>
  </md-list-item>

  <h3 md-subheader>Social</h3>
  <md-list-item
    class="clickable withBgColor"
    [routerLink]="['journeys/new']"
    [routerLinkActive]="['router-link-active']">
    <i class="fa fa-plane" aria-hidden="true"></i>
    <span class="item-value">New journey</span>
  </md-list-item>

  <md-list-item
    class="clickable withBgColor"
    [routerLink]="['journeys']"
    [routerLinkActive]="['router-link-active']"
    [routerLinkActiveOptions]="{ exact: true }">
    <i class="fa fa-globe" aria-hidden="true"></i>
    <span class="item-value">Explore</span>
  </md-list-item>

  <h3 md-subheader>Misc</h3>
  <md-list-item
    class="clickable withBgColor">
    <i class="fa fa-bullseye" aria-hidden="true"></i>
    <span class="item-value">Physical Web</span>
  </md-list-item>
</md-list>