@import "../index";

.mat-list {
  padding-top: 0;
}

.mat-list-item {
  color: rgba(0,0,0,0.54);
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 5px;
}

.mat-list .mat-subheader {
  font-weight: 400;
}

.mat-list .item-value, .mat-list .fa {
  vertical-align: middle;
}

.mat-list .fa {
  font-size: 1.1em;
}

.mat-list .item-value {
  margin-left: 15px;
  font-size: 0.9em;
}

md-list-item {
  text-transform: capitalize;

  &:hover {
    cursor: pointer;
  }
}

md-list-item.highlight {
  background-color: #FAFAFA;
  border-bottom: 1px solid #dddddd;
}

md-list-item.router-link-active {
  color: $primary;
}