<md-sidenav-container class="sidenav-mobile" *showItBootstrap="['xs', 'sm', 'md']">
  <md-sidenav mode="over" [opened]="(isMobileNavbarOpen | async)">
    <a href="/" id="sidenav-logo" class="neat">Memories</a>
    <app-sd-sidenav-links></app-sd-sidenav-links>
  </md-sidenav>
  <app-sd-navbar></app-sd-navbar>
  <div class="below-navbar">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>

<md-sidenav-container class="sidenav-desktop" *hideItBootstrap="['xs', 'sm', 'md']">
  <md-sidenav class="below-navbar" mode="side" opened="true">
    <app-sd-sidenav-links></app-sd-sidenav-links>
  </md-sidenav>
  <div class="below-navbar">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
